body {
    display: flex;
    background-color: #ededed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
mark {
    background-color: white;
    color: black;
    padding: .4em;
    line-height: 2;
}
p {
    word-break: break-all;
    text-align: center;
    padding: 2em;
}
#cap-size {
    display: block;
}
#cap-size svg {
    box-sizing: border-box;
    padding: 10px;
    stroke: #37474f;
    stroke-width: 2px;
    stroke-dasharray: 1850;
    stroke-dashoffset: 1850;
    fill: transparent;
    max-height: 80vh;
    max-width: 80vw;
    animation: offset 5s ease-in-out forwards;
}

@keyframes offset {
    90% {
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #37474f;
    }    
}
