body{
    /*font: 20px/1.5 Arial, Helvetica, sans-serif; */

    padding: 0;
    margin: 0;
    background-color: #001426;
    color: #ffffff;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    font-family: 'Pacifico', cursive;
    background: #66727c;
    padding-top: 5px;
    min-height: 50px;
    border-bottom: #FFFFFF 3px solid;
    color: #000000;
}

header a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;

}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{

    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
}
footer{
    width: 80%;
    margin: auto;
    float: bottom;
}
