body{
    margin: 0 auto;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/540b0a29856031.561cae68795b5.png");
}

.centerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #4800fb;
}
.nav img{
    vertical-align: middle
}
.nav li{
    display:inline;
}
.nav a{
    color: #f2f2f2;
    display:inline-block;
    padding:10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.nav a.active{
    background-color: #858dff;
    color: white;
}

#mainContent{
    background-image: url("https://d1itmove024qgx.cloudfront.net/e261e3a13d533247b50b67a8176853523399c9dd.jpg");
}
#aaa{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.contentType1{
    display: inline-block;
    padding-right: 5%;
    background-image: linear-gradient(#ec8bff, #8bcdff);
    margin-top: 0;
    margin-bottom: 0;
    text-align:justify;
    font-family: 'Righteous', cursive;
    font-size: 1.3em;
    color: #ffffff;
    text-shadow: 0 0 .9em #1e65fd;
    border-bottom: .2em solid black;
}
.contentType1 img{
    float: left;
}
.contentType2{
    display: inline-block;
    padding-left: 5%;
    background-image: linear-gradient(#8bcdff, #ec8bff);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Audiowide', cursive;
    font-size: 1.3em;
    color: #ffffff;
    text-shadow: 0 0 .9em #9700b4;
    border-bottom: .2em solid black;
}
.contentType2 img{
    float: right;
}
